
<div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">
          <a class ="nombre_header" href="{% url 'app_personal:home' %}">Empleados</a>
        </li>
        <li class="menu-text">
          <a href="{% url 'app_personal:lista_empleados'%}">Lista</a>
        </li>
        <li class="menu-text">
            <a href="{%url 'app_departamento:departamentos'%}">Departamentos</a>
        </li>
        <li class="menu-text">
          <a href="{% url 'app_personal:administrar' %}">Administrar</a>
        </li>
        <li class="menu-text">
          <a href="{%url 'app_personal:lista_empleados_off'%}">Antiguos empleados</a>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="{% url 'app_personal:add_empleado' %}" class="button">Registrar Empleado</a></li>
      </ul>
    </div>
  </div>

  
<!-- menu vertical

-->
